<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home - Sensores Arduino</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="container">
    <h1>SENSORES</h1>
    <div class="grid">
      <div class="icon">
        <img src="static/img/led.png" alt="Acender Led">
        <p>Acender Led</p>
      </div>
      <div class="icon">
        <img src="static/img/lcd.png" alt="LCD">
        <p>LCD</p>
      </div>
      <div class="icon">
        <img src="static/img/ultrassonico.png" alt="Sensor Ultrassonico">
        <p>Sensor Ultrassônico</p>
      </div>
      <div class="icon">
        <img src="static/img/fotoresistor.png" alt="Fotoresistor">
        <p>Fotoresistor</p>
      </div>
      <div class="icon">
        <img src="static/img/buzzer.png" alt="Buzzer">
        <p>Buzzer</p>
      </div>
      <div class="icon">
        <img src="static/img/pir.png" alt="Sensor PIR">
        <p>Sensor PIR</p>
    </div>
  </div>
</body>
</html>
