<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Controle do LED</title>
  <link rel="stylesheet" href="static/styles.css">
  <style>
    .container {
      max-width: 400px;
      margin: 0 auto;
      text-align: center;
      padding: 20px;
    }
    button {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
    }
    .img-led {
      width: 200px;
      height: auto;
      margin: 20px auto;
      display: block;
    }
    #mensagem {
      font-weight: bold;
      margin-top: 20px;
      color: green;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Controle do LED</h1>
    <img src="static/img/led.png" class="img-led">
    <form id="form_led" action="/acender_led" method="POST">
      <input type="hidden" id="estado_led" name="estado_led" value="1">
      <button type="submit" class="ligar" onclick="return definirEstado('ligar')">Ligar LED</button>
      <button type="submit" class="desligar" onclick="return definirEstado('desligar')">Desligar LED</button> 

      <button type="button" class="ligar" id="voltar" onclick="window.location.href='/home'">Voltar</button>
    </form>

    {% if mensagem %}
      <p id="mensagem">{{ mensagem }}</p>
    {% endif %}
  </div>

  <script>

    // Lista de IPs válidos
    const IP_HOSTS = ["10.0.0.18", "10.0.0.178", "192.168.1.105"];

    // Função que valida o IP antes de enviar o formulário
    function validarIP(acao) {
      const ip = document.getElementById('ip').value; // Obtém o IP digitado pelo usuário
      const erroElement = document.getElementById('erro'); // Elemento onde exibimos a mensagem de erro

      // Verifica se o IP fornecido está na lista de IPs válidos
      if (!IP_HOSTS.includes(ip)) {
        erroElement.textContent = "Erro: O IP fornecido não é válido. Por favor, insira um IP válido.";
        return false; // Impede o envio do formulário0
      } else {
        erroElement.textContent = ""; // Limpa a mensagem de erro se o IP for válido
        document.getElementById('estado_led').value = (acao === 'ligar') ? 1 : 0; // Define o estado do LED (ligar ou desligar)
        return true; // Permite o envio do formulário 
      }
    }
  </script>
</body>
</html>
